html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Inter', sans-serif !important;
  font-weight: normal !important;
  color: #555555 !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #312834;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.half-col {
  max-width: 50% !important;
}

.word-break {
  word-break: break-word;
}

.no-overflow {
  overflow: unset !important;
}

.jumbotron {
  background-color: white !important;
}

.main-nav {
  background: #bd2a33 !important  ;
  background-color: #bd2a33 !important  ;
}

:is(.main-nav,.nav-item) > a {
  margin: 13px 0 13px 12px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffffe6 !important;
  vertical-align: top;
  display: inline-block;
  line-height: 1.5;
}

button {
  background: #bd2a33 !important;
  border:none !important;
}


